.acdmx{
    margin-left: 288px;
}
.skill{
    margin-left: 288px;
}
.skill2{
    margin-left: 288px;
}
.project{
    margin-left: 288px;
}
.project1{
    margin-left: 288px;
}
.info{
    margin-left: 288px;
}
.add{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 289px;
    margin-right: 223px;
    text-align: center;
   
}
.obj{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 289px;
    margin-right: 223px;
    text-align: center;
}
.acadmx{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 223px;
    text-align: center;
}
.tech{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 223px;
    text-align: center;
}
.soft{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 223px;
    text-align: center;
} 
.admc{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 223px;
    text-align: center;
} 
.info1{
    background-color: #9fa8a3;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 223px;
    text-align: center;
}
.datee{
    margin-left: 290px;
}
.last{
    margin-left: 670px;
}
.sign{
    margin-left: 978px;
}

.profile{
    display: flex;
    margin-left: 350px;
    margin-bottom: 20px;
}
.part-1{
    margin-left: 00px;
}
.part-2{
    margin-left: 20px;
}